hydra-core
loguru
Pillow
pydub
gradio

# Transformers and training utilities
transformers==4.46.0
pytorchvideo==0.1.5
accelerate==0.34.2
numpy==1.26.4
opencv-python-headless==4.8.0.76
matplotlib

# Audio
soundfile
librosa
openai-whisper
ftfy
ffmpeg
jiwer
einops
wandb
kaldiio
peft==0.14.0

# Compatibility fix
protobuf==3.20.*