hydra-core
loguru
Pillow
pydub
gradio
# Transformers and training utilities
transformers==4.46.0
pytorchvideo==0.1.6
accelerate==0.34.2
numpy==1.26.4
opencv-python-headless==4.10.0.84
matplotlib

# Audio
soundfile
librosa
openai-whisper
ftfy
ffmpeg-python
jiwer
einops
wandb
kaldiio
peft==0.14.0

# Compatibility fix
protobuf>=4.25.0,<5.0.0
