hydra-core
loguru
Pillow
pydub
gradio

# Transformers and training utilities
transformers
pytorchvideo
accelerate
numpy
opencv-python-headless
matplotlib

# Audio
soundfile
librosa
openai-whisper
ftfy
ffmpeg
jiwer
einops
wandb
kaldiio
peft

# Compatibility fix
protobuf